@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.notify{
    font-family: open_sansregular;
	position: fixed;
	width: 400px;
	padding: 15px 0;
	z-index: 9999;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}




/** animation type **/
.notify.scale{
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
.notify.center.drop{
	-webkit-transform: translateY(-120%);
	-moz-transform: translateY(-120%);
	-o-transform: translateY(-120%);
	transform: translateY(-120%);
	opacity: 0;
}
.notify.right.drop{
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
	opacity: 0;
}
.notify.middle.center.drop{
	-webkit-transform: translateY(-20%);
	-moz-transform: translateY(-20%);
	-o-transform: translateY(-20%);
	transform: translateY(-20%);
	opacity: 0;
}
.notify.fade{
	opacity: 0;
}
.notify.out{
	opacity: 0;
}

/** notify type **/
.notify-default{
	background-color: #fff;
	color: #233337;
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
}



/** position **/
.notify.top{
	top: 15px;
}
.notify.center{
	left: 50%;
	margin-left: -200px;
}

@media all and (max-width:768px){
	.notify{
		width: 100%;
		left: 0!important;
		margin: 0!important;
		border-radius: 0;
		-webkit-border-radius: 0;
	}
	.notify.top{
		top: 0!important;
	}
}